extends layout

block content
  h1 Work Experience Admin
  form(method='POST' action='/admin/work-experience')
    label Company:
    input(type='text' name='company' required)
    label Role:
    input(type='text' name='role' required)
    label Duration:
    input(type='text' name='duration' required)
    label Description:
    textarea(name='description' required)
    button(type='submit') Add Work Experience

  h2 Work Experience List
  ul
    each experience in workExperience
      li= experience.company